<!DOCTYPE html>
<html>
<head>
<title>Projectmanagerpage</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<h2><b>PROJECT MANAGER ROLE</b></h2>

<div class="navbar">
  
<div class="dropdown" style="float:right;">
  <button class="dropbtn">Project Manager</button>
  <div class="dropdown-content">
    <a href="#">Employee List</a>
    <a href="#">Project List</a>
	<a href="#">Project Teams</a>
  </div>
</div>
</div><br><br>

<table id="employees">
  <tr>
    <th>S.NO</th>
    <th>EMP ID</th>
    <th>PROJECT NAME</th>
  </tr>
  <tr>
    <td>1.</td>
    <td>EMP 10041</td>
    <td>Designing of E-commerce Website</td>
  </tr>
  <tr>
   <td>2.</td>
    <td>EMP 10042</td>
    <td>Travel Portal Development</td>
  </tr>
  <tr>
<td>3.</td>
    <td>EMP 10043</td>
    <td>Changes in App for Client</td>
	</tr>
  <tr>
<td>4.</td>
    <td>EMP 10044</td>
    <td>Help Documentation Preparation</td>  </tr>
  <tr>
    <td>5.</td>
    <td>EMP 10045</td>
    <td>Cricket Live Portal</td>
  </tr>
  
</table>


</body>
</html>
